#nithin{background-color: cornflowerblue;color: brown;}
* {background-color: rgb(38, 43, 22);}
.g{background-color: rgb(165, 26, 135); color: rgb(132, 147, 147);}
 .w{background-color: rgba(21, 205, 238, 0.911);}
 .q{background-color: rgb(49, 10, 204);}
 .a{background-color: maroon;}
 .x{background-color: darkorange;color: aliceblue;}
 .c{background-color: seagreen;}
 .v{background-color:lime;color: aliceblue;}
 .b{background-color:rgb(114, 23, 189);color: aliceblue;}
 .n{background-color:rgba(239, 223, 7, 0.64);color: aliceblue;}